/*Embed code de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jaldi:wght@400;700&display=swap');

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Jaldi", sans-serif;
    text-shadow: -0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
    font-size: 60px;
    font-weight: lighter;
}

body {
    text-align: center;
}

#video {
    width: 50%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #e8a87c;
    color: #fff;
    padding: 20px 0;
}

.container p {
    font-weight: bold;
    font-size: larger;
    font-family: "Irish Grover", system-ui;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Jaldi", sans-serif;
    font-size: 20px;
}

ul li a:hover {
    color: #ccc;
}
